SsepsII.Synchronisation.Services/Service References/SyncServiceReference/SynchronizationWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://sseps.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://sseps.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://sseps.org/">
      <s:element name="AuthenticateUser">
        <s:complexType />
      </s:element>
      <s:element name="AuthenticateUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SecuredWebServiceHeader" type="tns:SecuredWebServiceHeader" />
      <s:complexType name="SecuredWebServiceHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SiteID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InstallationToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AuthenticatedToken" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="ReceiveSyncTransaDataObjects">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="syncXml" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReceiveSyncTransaDataObjectsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReceiveSyncTransaDataObjectsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendApprovedData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="siteId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendApprovedDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendApprovedDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateUserSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateUser" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUserSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:message name="ReceiveSyncTransaDataObjectsSoapIn">
    <wsdl:part name="parameters" element="tns:ReceiveSyncTransaDataObjects" />
  </wsdl:message>
  <wsdl:message name="ReceiveSyncTransaDataObjectsSoapOut">
    <wsdl:part name="parameters" element="tns:ReceiveSyncTransaDataObjectsResponse" />
  </wsdl:message>
  <wsdl:message name="ReceiveSyncTransaDataObjectsSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:message name="SendApprovedDataSoapIn">
    <wsdl:part name="parameters" element="tns:SendApprovedData" />
  </wsdl:message>
  <wsdl:message name="SendApprovedDataSoapOut">
    <wsdl:part name="parameters" element="tns:SendApprovedDataResponse" />
  </wsdl:message>
  <wsdl:message name="SendApprovedDataSecuredWebServiceHeader">
    <wsdl:part name="SecuredWebServiceHeader" element="tns:SecuredWebServiceHeader" />
  </wsdl:message>
  <wsdl:portType name="SynchronizationWebServiceSoap">
    <wsdl:operation name="AuthenticateUser">
      <wsdl:input message="tns:AuthenticateUserSoapIn" />
      <wsdl:output message="tns:AuthenticateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReceiveSyncTransaDataObjects">
      <wsdl:input message="tns:ReceiveSyncTransaDataObjectsSoapIn" />
      <wsdl:output message="tns:ReceiveSyncTransaDataObjectsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendApprovedData">
      <wsdl:input message="tns:SendApprovedDataSoapIn" />
      <wsdl:output message="tns:SendApprovedDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SynchronizationWebServiceSoap" type="tns:SynchronizationWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUser">
      <soap:operation soapAction="http://sseps.org/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AuthenticateUserSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveSyncTransaDataObjects">
      <soap:operation soapAction="http://sseps.org/ReceiveSyncTransaDataObjects" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ReceiveSyncTransaDataObjectsSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendApprovedData">
      <soap:operation soapAction="http://sseps.org/SendApprovedData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SendApprovedDataSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SynchronizationWebServiceSoap12" type="tns:SynchronizationWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUser">
      <soap12:operation soapAction="http://sseps.org/AuthenticateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AuthenticateUserSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveSyncTransaDataObjects">
      <soap12:operation soapAction="http://sseps.org/ReceiveSyncTransaDataObjects" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ReceiveSyncTransaDataObjectsSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendApprovedData">
      <soap12:operation soapAction="http://sseps.org/SendApprovedData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SendApprovedDataSecuredWebServiceHeader" part="SecuredWebServiceHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SynchronizationWebService">
    <wsdl:port name="SynchronizationWebServiceSoap" binding="tns:SynchronizationWebServiceSoap">
      <soap:address location="http://192.168.1.10/PayRoll/SynchronizationWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="SynchronizationWebServiceSoap12" binding="tns:SynchronizationWebServiceSoap12">
      <soap12:address location="http://192.168.1.10/PayRoll/SynchronizationWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>